In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

In [4]:
n_rows = 6
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 5, size=(n_rows, n_cols)), 
                  columns=cols)
df

   A  B  C  D  E
0  3  4  4  1  4
1  1  2  4  3  1
2  3  3  1  1  4
3  4  3  1  3  4
4  3  3  3  2  4
5  1  4  3  3  1

In [6]:
df.sample(frac=1.0, random_state=1)

   A  B  C  D  E
2  3  3  1  1  4
1  1  2  4  3  1
4  3  3  3  2  4
0  3  4  4  1  4
3  4  3  1  3  4
5  1  4  3  3  1